<div>
    
  <!-- Include the sidebar partial -->
  <%- include('partials/sidebar') %>

  <div class="ml-64">
    <!-- Placeholder for Dynamic Content -->
    <div class="flex items-center justify-between p-8 h-20 mb-8 shadow-md">
       
       <div id="content-area">
           <!-- Default content goes here -->
           <h2 class="text-lg font-semibold">Admin Dashboard</h2>
       </div>

       <input type="text" placeholder="Search" class="p-2 ml-40 w-[500px] h-10 rounded bg-gray-200">
       
    </div>
  </div>

</div>
