<div>
    <div class="z-50 fixed w-full">
        <!-- Include header partial  -->
        <%- include("partials/header") %>
    </div>

    <div class="pt-32 h-[750px] flex justify-center">
          <!-- Include sidebar partials  -->
          <%- include("partials/sidebar") %>
    </div>

       <!-- Include footer partials  -->
       <%- include("partials/footer") %>
</div>